@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header {
  background: linear-gradient(-45deg, #805ad5, #d53f8c, #00b5d8, #38a169);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  background-clip: text;
  color: transparent;
  font-family: 'Baloo Chettan 2', sans-serif !important;
}
